@import "./styles/reset.css";
@import "./styles/top-controls.css";
@import "./styles/lane.css";
@import "./styles/task.css";


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1em;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
}

.add-task-toggle.hidden {
  display: none;
}

.lanes {
  display: flex;
  align-items: flex-start;
  gap: 0.8em;
}

h1 {
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
}

h2 {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #7c7a7a;
  margin-bottom: 0.7em;
  text-transform: capitalize;
}

form.task {
  display: none;
}

form.active {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #61bd4f;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  padding: 0.5em 0;
}

form button:hover {
  cursor: pointer;
  background-color: #5aac44;

}

form textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 2em;
  padding: 0.2em 1em;
  width:190px;
  margin-bottom: 0.5em;
  resize: none;
}

.add-task-toggle {
  padding: 0.8em;
  padding-left: 0.2em;
  margin-top: 0.2em;
  display: flex;
  align-items: center;
}

.add-task-toggle span {
  padding-right: 0.2em;
}

.add-task-toggle:hover {
  cursor: pointer;
  background-color: #cccccc;
  border-radius: 8px;
}




